body{
    background-color: brown;
    font-size: x-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

button {
    background-color: rgb(0, 115, 255);
    color: white;
    padding: 20px 10px;
    border:solid 3vw goldenrod;
    border-style: inset;
    border-radius: 25%;
    cursor: pointer;
}