body {
    margin-top: 2vw;
    padding: 0;
}

.section {
    width: 75vw;
    height: 25vh;
    background-color: #88c1d0;
}


@media screen and (max-width: 767px)  {
    body {
        margin: 0;
        display:flex;
        flex-wrap: wrap;
        justify-content: space-around;
        column-count: 1;
        text-align: center;
    }

    .section {
        margin: 2vw; /* Marge entre les sections */
        border: 0.5vw solid #000;
        box-sizing: border-box;
        align-items: center;
        text-align: center;
    }

}

@media screen and (min-width: 768px) and (max-width: 1600px) {
    body {
        margin: 0;
        display:flex;
        flex-wrap: wrap;
        justify-content: space-around;
        column-count: 2;
        text-align: center;
    }
    

  .section {

    width: 40vw; /* Ajustez la largeur selon vos besoins */
    height: 40vw; /* Ajustez la hauteur selon vos besoins */
    margin: 2vw; /* Marge entre les sections */
    border: 0.5vw solid #000;
    box-sizing: border-box;
    align-items: center;
    text-align: center;
  }


}

@media screen and (min-width: 1600px) {

    body {
        display: flex;
        justify-content: center;
    }

    .section {
        width: 50px;
        height: 80px;
        background-color: #88c1d0;
        margin-right: 20px;
    }

    .section:last-child {
        margin-right: 0;
    }
}